{{>header }}
    <section class="container">
        <p class="h1 text-center">Welcome to the Homepage!</p>
        <div class="text-center">
            <img src="https://www.webwisewording.com/wp-content/uploads/aaron-burden-AvqpdLRjABs-unsplash.jpg" alt="welcome" class="img-fluid img-thumbnail w-50">
            <p class="h5">Follow me on Linkdin : <a href="https://in.linkedin.com/in/shubhamthapa" target="_blank" >Click</a></p>
        </div>
        
    </section>
{{>footer }}